.container{
    width: 100%;
    display: flex;
    max-width: 1100px;
}

.card_img_heigth{
    min-height: 25px;
    max-height: 500px;
    min-width: 25px;
    max-width: 500px;
}

.card {
    width: 100%;
    height: 80px;
    top: 0%;
    left: 0%;
    background-color: #3498db;
    color: white;
    border-radius: 6px;
    overflow: hidden;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0,2);
    transition: transform 0.3s ease-in-out;
    position: relative;
    display: inline-block;
}

.card:hover {
    cursor: pointer;
}

.card:hover .card-content {
    opacity: 1;
    visibility: visible;
}

.card-content {
    display: flex;
    top: 0;
    left: 0;
    position: absolute;
    background-color: rgba( 104, 157, 221, 1 );
    color: white;
    border-radius: 6px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 200ms ease-in-out 400ms; /* Aparece con un retraso de 2 segundos */
    height: 100%;
    width: 100%;
}

.card-content button {
    cursor: pointer;
}

.card-content button:disabled {
    background-color: #eee;
    color: #aaa;
    cursor: not-allowed;
}




.contenido{
    padding: 15px;
    text-align: center;
    
}
.bg_wh{
    background-color: rgba(7, 35, 39, 0.7)
}

.contenido p{
    line-height: 1.5;
    color: #6a6a6a;

    
}
.contenido h3{
    font-weight: 400;
    margin-bottom: 15px;


}
.contenido a{
    text-decoration: none;
    display: inline-block;
    padding: 10px;
    margin-top: 10px;
    color: #2fb4cc;
    border: 1px solid #2fb4cc;
    border-radius: 4px;
    transition: all 400ms ease;

}
.car .contenido a:hover{
    background: #2fb4cc ;
    color: #fff;

}



.crd_txt{
    font-size: 0px;
    padding: 1%;
}

.crd_txt:hover{
    background-color: yellow;

}




.pd_tp{
    padding-top: 20px;
}


.btn_ini_s{
    width: 150px;
    height: 50px;
    font-size: 18px;
    background-color: inherit;
    border-radius: 5px;
    border: solid;
    border-color: black !important;
    color: black !important;
}

.btn_div{
    right: 50px;
    position: relative;
}

@media (max-width:992px){
    .btn_div{
        right: 0px;
        position: relative;
        padding-bottom: 8px;
    }
}